body {
  font-family: Montserrat, sans-serif;
  background-color: #fafafa;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
}

a {
  text-decoration: none;
}

/* HEADER */
.header-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: black;
}

.header-logo-span {
  font-style: italic;
}

.header-navigation-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: black;
}

.header-navigation-list-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: black;
}

/* 1 section "HERO" */
.hero {
  background-color: #1e1823;
}

.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: white;
}

.hero-btn-buy-now {
  font-weight: 600;
  font-size: 14px;
  color: white;
  border-radius: 100px;
  padding: 14px 40px;
  width: 146px;
  height: 46px;
  background: orange;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 14px;
  cursor: pointer;
}

.hero-btn-how-its-made {
  font-weight: 600;
  font-size: 14px;
  color: white;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 14px;
  border: 1px solid white;
  border-radius: 100px;
  padding: 14px 40px;
  width: 183px;
  height: 45px;
}

.hero-btn-scroll-down {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.03em;
  color: white;
}

/* 2 section "FEATURES" */
.features {
  background-color: #1e1823;
  width: 1200px;
  height: 260px;
}

.features-list {
}

.features-list-item {
}

.features-title {
  font-weight: 600;
  font-size: 18px;
  color: white;
}

.features-text {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

/* 3 section "TASTE" */
.taste-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: black;
}

.span-taste {
  color: orange;
}

.taste-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-align: center;
  color: black;
}

.taste-list {
}

.taste-list-item {
}

.choco {
  background-color: orange;
}

.choco h3 {
  color: white;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.milk h3 {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: black;
}

.sweets h3 {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: black;
}

.nuts {
  background-color: #1e1823;
}

.nuts h3 {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: white;
}

/* 4 section "RECIPE" */

.recipe-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: black;
}

.recipe-span {
  color: orange;
}

.recipe-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: black;
}

.recipe-list {
  list-style-type: disc;
  background-color: white;
  border-radius: 15px;
  width: 516px;
  height: 400px;
}

.recipe-list-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: black;
}

/* 5 section "REVIEW" */

.review-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: black;
}

.review-span {
  color: orange;
}

.recipe-list {
}

.review-list-item {
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  width: 360px;
  height: 200px;
  box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
  background: white;
}

.review-userpic {
}

.review-img-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: black;
}

.review-img-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}

.review-btn {
  /* font */
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  color: black;
  /* form */
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  gap: 14px;
  border: 1px solid orange;
  border-radius: 100px;
  padding: 14px 40px;
  width: 222px;
  height: 50px;
}

/* FOOTER */
.footer {
  background-color: #1e1823;
  width: 1200px;
  height: 298px;
}
.footer-text {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: white;
  max-width: 300px;
}

.footer-span {
  color: orange;
}
.footer-contact-us {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  text-align: center;
  color: white;
}
.contact {
}
.footer-list {
}
.footer-list-item {
}
.footer-contact-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-align: center;
  color: white;
  font-style: normal;
}

.nav-footer {
}
.footer-menu-list {
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 358px; */
}

.footer-menu-list-item {
}
.footer-menu-list-link {
  color: white;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
}
